.header__lang-link {
  margin-right: 18px;
  margin-bottom: 6px;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin-right: 0px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 530px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
