.lead {
  margin: 48px auto 0;
  width: 90%;
  max-width: 984px;
  min-width: 928px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 928px) {
  .lead {
    width: 100%;
    min-width: 0;
    margin: 48px 0 0;
  }
}