.cover__subtitle {
  width: 90%;
  max-width: 360px;
  margin: 0 auto 245px;
  padding: 0;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}

@media screen and (max-width:1184px) {
  .cover__subtitle {
    margin: 0 auto 195px;
  }
}

@media screen and (max-width:900px) {
  .cover__subtitle {
    margin: 0 auto 115px;
  }
}

@media screen and (max-width:767px) {
  .cover__subtitle {
    margin: 0 auto 100px;
  }
}

@media screen and (max-width:650px) {
  .cover__subtitle {
    margin: 0 auto 80px;
    font-size: 17px;
  }
}

@media screen and (max-width:530px) {
  .cover__subtitle {
    margin: 0 auto 60px;
    font-size: 15px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 350px) {
  .cover__subtitle {
    margin: 0 auto 33px;
    font-size: 14px;
  }
}