.lead__title {
  margin: 0 auto;
  width: 90%;
  max-width: 720px;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 75px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}