.lead__subtitle {
  margin: 32px auto 0;
  width: 90%;
  max-width: 640px;
  min-width: 288px;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 650px) {
  .lead__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 530px) {
  .lead__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 365px) {
  .lead__subtitle {
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 1.25;
  }
}