.footer {
  width: calc(100% - 96px);
  min-width: 288px;
  max-width: 1184px;
  margin: 92px auto 0;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
    margin: 64px auto 0;
    flex-direction: column;
  }
}